<footer op-60>
  <p mt-6 text-sm text-slate>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/BillQiu/chatgpt-demo"
      target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>
